<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Baisi_New.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09D84B1A1CEAACCB00BFFB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D84B331CEAACCC00BFFB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D84B3E1CEAACCC00BFFB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
